
  <div class="col-md-8 col-offset-1">
  <div class="padding-row">
    <h4>Estos son <span class="bai-span"> todos </span> los links que has visitado, <%= @user.email %></h4>
    <hr class="black-line">
    <ul class="list-unstyled">
      <% @datehash.each do |date, array_links| %>
        <ul class="date list-unstyled text-right listlinks"> <span class="label label-default labelblack"><%= date %></span> </ul>
        <hr>

        <% array_links.each do |clicked_link| %>
        <li> <%= link_to(clicked_link.link.url, clicked_link.link.url, :target => "_blank") %> </li>
        <% end %>
      <% end %>

    </ul>
    </div>
  </div>  
  <div class="col-sm-1"></div>
  <!-- ad sidebar -->
  <div class="col-md-2 publi-img-grid" >
  
    <div><img src="/assets/a2.jpg" class= "img-publi">
    </div>
    <div><img src="/assets/a1.jpg" class= "img-publi">
    </div>
    <div><img src="/assets/a5.jpg" class= "img-publi"></div>
    <div><img src="/assets/a3.jpg" class= "img-publi"></div>

  </div>

  


