/*// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body { 
  padding-top: 70px; 
  padding-right: 30px;
  padding-left: 30px;
}

.titulo_class{
  text-align: center;
  margin-top: 120px;
}

.botoncito {
  margin-top: 50px;
  width: 150px;
}

.rss {
  margin:0px; 
}

.img-grid {

  width: 200px;
  height: 150px;
}

.found-img {
    position: relative;
    float: left;
    width:  200px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.list-grid {
  border: 0px;
}