

<div class="col-md-5">



  HOLA
</div>
<div class="col-md-5">
  HOlA
</div>







<!-- ad sidebar -->


<div class="col-md-2">
  <div class="row publi-img"></div>
  <div class="row publi-img"></div>
  <div class="row publi-img"></div>
  <div class="row publi-img"></div>
</div>