
<!-- first col -->
<!-- ================================================= -->
  <div class="col-md-5 ">

  <!-- 1subcol -->
      <div class="col-md-6 category-col">
       <h3 class="titles-category text-left">Blogs</h3>
       <hr class="black-line">
        <ul class="list-unstyled">
          <li><a href="">Brandemia</a></li>
          <li><a href="">Abduzeedo</a></li>
          <li><a href="">Design Instruct</a></li>
          <li><a href="">Design Modo</a></li>
        </ul>
      </div>

  <!-- 2subcol -->
      <div class="col-md-6 category-col">
        <h3 class="titles-category text-left">Patrones</h3>
        <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="">Subtle Pattern</a></li>
          </ul>
      </div>
    <!-- ======================1row======================= -->
     

  <!-- 3subcol -->
        <div class="col-md-6 category-col">
         <h3 class="titles-category text-left">Stock Imágenes</h3>
         <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="">The Stocks</a></li>
            <li><a href="">Unsplash</a></li>
            <li><a href="">Gratisography</a></li>
            <li><a href="">Pexels</a></li>
            <li><a href="">Pixabay</a></li>
            <li><a href="">Jay Mantri</a></li>
            <li><a href="">Superfamous</a></li>
            <li><a href="">HiResStock</a></li>
            <li><a href="">Magdeleine</a></li>
            <li><a href="">iStock</a> *PAGO*</li>

          </ul>
        </div>

  <!-- 4subcol -->
        <div class="col-md-6 category-col">
          <h3 class="titles-category text-left">Stock Videos</h3>
          <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="">The Stocks</a></li>
            <li><a href="">Unsplash</a></li>
            <li><a href="">Gratisography</a></li>
            <li><a href="">Pexels</a></li>
            <li><a href="">Pixabay</a></li>
            <li><a href="">Jay Mantri</a></li>
            <li><a href="">Superfamous</a></li>
            <li><a href="">HiResStock</a></li>
            <li><a href="">Magdeleine</a></li>
            <li><a href="">iStock</a> *PAGO*</li>
          </ul>
        </div>
  </div>


  <!-- end first col -->  
  <!-- ================================================= -->

  <!-- second col -->
  <div class="col-md-5">
    
  
      <div class="col-md-6 category-col">
       <h3 class="titles-category text-left">Color</h3>
       <hr class="black-line">
        <ul class="list-unstyled">
          <li><a href="">Adobe Kuler</a></li>
          <li><a href="">ColorRotate</a></li>
          <li><a href="">ColourCode</a></li>
          <li><a href="">Collor</a></li>
          <li><a href="">Material Palette</a></li>
        </ul>
      </div>

  <!-- 2subcol -->
      <div class="col-md-6 category-col">
        <h3 class="titles-category text-left">Redes Sociales</h3>
        <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="">Behance</a></li>
            <li><a href="">Dribbble</a></li>
            <li><a href="">Cargo Collective</a></li>
            <li><a href="">Stack Exchange</a></li>
            <li><a href="">DeviantArt</a></li>
          </ul>
      </div>

    <!-- ======================2row======================= -->
     

  <!-- 3subcol -->
        <div class="col-md-6 category-col">
         <h3 class="titles-category text-left">Formación</h3>
         <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="">Brandemia</a></li>
            <li><a href="">Abduzeedo</a></li>
            <li><a href="">Design Instruct</a></li>
            <li><a href="">Design Modo</a></li>
            <li><a href="">Brandemia</a></li>
            <li><a href="">Abduzeedo</a></li>
            <li><a href="">Design Instruct</a></li>
            <li><a href="">Design Modo</a></li>
          </ul>
        </div>

  <!-- 4subcol -->
        <div class="col-md-6 category-col">
     
        </div>


  </div>


  <!-- end second col -->




  <!-- ================================================= -->


  <!-- ad sidebar -->


  <div class="col-md-2">
    <div class="row publi-img"></div>
    <div class="row publi-img"></div>
    <div class="row publi-img"></div>
    <div class="row publi-img"></div>
  </div>




