
<!-- first col -->
<!-- ================================================= -->
  <div class="col-md-5 ">

  <!-- 1subcol -->
      <div class="col-md-6 category-col">
       <h3 class="titles-category text-left">Blogs</h3>
       <hr class="black-line">
        <ul class="list-unstyled">
          <li><a href="http://www.brandemia.org/">Brandemia</a></li>
          <li><a href="http://www.nometoqueslashelveticas.com/">No Me Toques Las Helveticas</a></li>
          <li><a href="http://laninabipolar.com/">La Niña Bipolar</a></li>
          <hr>
          <li><a href="http://abduzeedo.com/">Abduzeedo</a></li>
          <li><a href="http://99u.com/">99u</a></li>
          
        </ul>
      </div>

  <!-- 2subcol -->
      <div class="col-md-6 category-col">
        <h3 class="titles-category text-left">Redes Sociales</h3>
        <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="http://www.domestika.org/">Domestika</a></li>
            <li><a href="http://behance.net">Behance</a></li>
            <li><a href="https://dribbble.com/">Dribbble</a></li>
            <li><a href="http://cargocollective.com/">Cargo Collective</a></li>
            <li><a href="http://www.deviantart.com/">DeviantArt</a></li>
          </ul>
      </div>





    <!-- ======================1row======================= -->
     

  <!-- 3subcol -->
        <div class="col-md-6 category-col">
         <h3 class="titles-category text-left">Inspiración</h3>
         <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="http://www.trendlist.org/">Trend List</a></li>
            <li><a href="http://thedesigninspiration.com/">The Design Inspiration</a></li>
            <li><a href="http://designspiration.net/">Design Inspiration</a></li>
            <li><a href="http://butdoesitfloat.com/index/">But Does It Float</a></li>
            <li><a href="http://ffffound.com">Ffffound</a></li>
            <li><a href="http://splitpeavintageblog.tumblr.com">99¢ dreams</a></li>
            <li><a href="">Superfamous</a></li>
          </ul>
        </div>

  <!-- 4subcol -->
        <div class="col-md-6 ">
          <h3 class="titles-category text-left">Stock Foto</h3>
          <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="https://unsplash.com/">Unsplash</a></li>
            <li><a href="http://www.gratisography.com/">Gratisography</a></li>
            <li><a href="http://www.pexels.com/">Pexels</a></li>
            <li><a href="http://jaymantri.com/">Jay Mantri</a></li>
            <li><a href="http://getrefe.tumblr.com/">Free Refe Real Life Photos</a></li>
            <li><a href="http://magdeleine.co/browse/">Magdeleine</a></li>
            <li><a href="http://picjumbo.com/">Picjumbo</a></li>
            <li><a href="http://jeshoots.com/">Jéshoots</a></li>
            <li><a href="http://littlevisuals.co/">Little Visuals</a></li>
            <li><a href="http://www.imcreator.com/free"></a>IM Creator</li>
            <li><a href="http://www.sitebuilderreport.com/stock-up">Stock Up</a></li>
            <li><a href="http://allthefreestock.com/">All The Free Stock</a></li>
            <li><a href="http://www.splashbase.co/">Splash Base</a></li>
            <li><a href="http://startupstockphotos.com/">Start Up Stock Photos</a></li>
            <li><a href="http://moveast.me/">Moveast</a></li>
            <li><a href="http://travelcoffeebook.com/">Travel Coffee Book</a></li>
            <li><a href="http://www.designerspics.com/">Designers Pics</a></li>
            <li><a href="http://deathtothestockphoto.com/">The Dead To The Stock Photo</a></li>
            <li><a href="http://foodiesfeed.com/">Foodies Feed</a></li>
    
            <li><a href="http://www.istockphoto.com/">iStock</a><span class="label label-default labelblack margin-left bailabel"> PREMIUM</span></li
            <li><a href="https://creativemarket.com/photoshttps://color.adobe.com/explore/">Creative Market</a><span class="label label-default labelblack margin-left bailabel"> PREMIUM</span></li>            
          </ul>
        </div>
  </div>


  <!-- end first col -->  
  <!-- ================================================= -->

  <!-- second col -->
  <div class="col-md-5">
    
  
      <div class="col-md-6 category-col">
       <h3 class="titles-category text-left">Formación</h3>
         <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="http://design.tutsplus.com/">Design TutsPlus</a></li>
            <li><a href="http://www.photoshoplady.com/">Photoshop Lady</a></li>
          </ul>
      </div>

  <!-- 2subcol -->
      <div class="col-md-6 category-col">
        <h3 class="titles-category text-left">Iconos</h3>
        <hr class="black-line">
          <ul class="list-unstyled">
            <li><a href="http://iconmonstr.com/">Icon Monstr</a></li>
            <li><a href="http://www.flaticon.com/">Flaticon</a></li>
            <li><a href="http://iconmelon.com/">Iconmelon</a></li>
            <li><a href="http://icons8.com/">Icons8</a></li>
          </ul>
      </div>

    <!-- ======================2row======================= -->
     

  <!-- 3subcol -->
        <div class="col-md-6 category-col">
        <h3 class="titles-category text-left">Color</h3>
        <hr class="black-line">
         <ul class="list-unstyled">
          <p class="info">Generadores</p>
             <li><a href="https://color.adobe.com/explore/">Adobe Color CC</a></li>
             <li><a href="http://paletton.com/">Paletton</a></li>
             <li><a href="http://colourco.de/">ColourCode</a></li>
             <li><a href="http://app.coolors.co">Coolors</a></li>
          <br>
          <p class="info">Paletas</p>
            <li><a href="http://www.thedayscolor.com/">The Days Color</a></li>
            <li><a href="http://design-seeds.com/">Design Seeds</a></li>
            <li><a href="http://uigradients.com/">UI gradients</a></li>
            <li><a href="http://brandcolors.net/">Brand Colors</a></li>
            <li><a href="http://materialcolors.com/">Material Colors</a></li>
            <li><a href="http://colours.neilorangepeel.com/">Colours</a></li>
         </ul>
         
        </div>

  <!-- 4subcol -->
        <div class="col-md-6 ">
        <h3 class="titles-category text-left">Tipografías</h3>
        <hr class="black-line">
        <ul class="list-unstyled">
          <li><a href="http://fontsinuse.com/">Fonts In Use</a></li>
          <li><a href="http://wrdbnr.com/">W R D B N R</a></li>
          <li><a href="http://www.google.com/fonts">Google Fonts</a></li>
          <li><a href="http://www.fontsquirrel.com/">Font Squirrel</a></li>
          <li><a href="http://www.dafont.com/es/">Da Font</a></li>
          <li><a href="https://edgewebfonts.adobe.com/fonts">Edge Web Fonts</a></li>
          <li><a href="http://www.1001fonts.com/">1001fonts</a></li>
          <li><a href="http://www.fontspace.com/">Font Space</a></li>
          <li><a href="http://www.losttype.com/browse/">Lost Type</a><span class="label label-default labelblack margin-left bailabel"> PREMIUM</span></li>
          <li><a href="http://www.myfonts.com/">My Fonts</a><span class="label label-default labelblack margin-left bailabel"> PREMIUM</span></li>
          <li><a href="https://typekit.com/">Type Kit</a><span class="label label-default labelblack margin-left bailabel"> PREMIUM</span></li>
        </ul>
     
        </div>


  </div>


  <!-- end second col -->




  <!-- ================================================= -->


  <!-- ad sidebar -->


  <div class="col-sm-2" >
  
    <div><img src="/assets/a2.jpg" class= "img-publi-md">
    </div>
    <div><img src="/assets/a1.jpg" class= "img-publi-md">
    </div>
    <div><img src="/assets/a5.jpg" class= "img-publi-md"></div>
    <div><img src="/assets/a3.jpg" class= "img-publi-md"></div>

  </div>



